.container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .regform {
    text-align: center;
    border-top: 1px #afafaf solid;
    padding-top: 10px;
  }
}

.title {
  align-self: center;
  font-size: 36px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;

  input {
    height: 50px;
    padding: 5px 10px;
    background: #d8d8d8;
    border-radius: 10px;
  }

  button {
    align-self: center;
    height: 40px;
    width: 300px;
    border-radius: 12px;
    font-weight: 600;
    background: #d56600;

    &:hover {
      background: #ff7600;
    }
  }
}