.contacts {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  a {
    font-weight: 700;
  }
}

.cb {
  font-size: 14px;
  height: 40px;
  width: 140px;
  border-radius: 15px;
  font-weight: 600;
  background: #d56600;

  &:hover {
    background: #ff7600;
  }
}