.container {
  padding: 20px;
  display: flex;
  height: 30%;
  flex-direction: column;
  justify-content: space-between;

  &:hover .title {
    text-decoration: none;
  }

  .title {
    color: #ff8e2d;
    font-weight: 600;
    text-decoration: underline;
  }

  .desc {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
  }

  .date {
    font-size: 12px;
    color: #a8a8a8;
  }
}