.container {
  height: 40px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.item {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locate {
  cursor: pointer;

  &:hover {
    color: #ff7600;
  }
}