.container {
  grid-area: k;
  width: 100%;
  border-radius: 10px;
  padding: 0 25px 25px 25px;
  border: 1px solid #d5d5d5;
  background: #fff;

  div {
    height: auto;
    margin-top: 40px;

    p {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    ul li {
      margin-right: 20px;
      font-weight: 300;
      line-height: 1.5;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}