.container {
  position: relative;
  grid-area: v;
  width: 100%;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid #d5d5d5;
  background: #fff;
  .more {
    color: #d56600;
    box-shadow: 0 -1px 3px #d5d5d5;
    position: absolute;
    background: #e5e5e5;
    left: 40%;
    bottom: -10px;
    width: 150px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: underline;
    }
  }
  .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
}