.container {
  height: 150px;
  display: flex;
  justify-content: center;
  background: #e8e8e8;
}

.search {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}