.container {
  width: 100%;
  height: 150px;
  color: #000;
  display: flex;
  justify-content: center;
  background: #e8e8e8;
}
.search {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}