.container {
  margin-top: 30px;
  width: 1200px;
  height: 1010px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}